* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}
.logo {
  height: 70px;
  float: left;
}
.container {
	width: 1024px;
  margin: 0 auto;
}
.nav-list {
  float: right;
}
.nav-list-item {
  font-size: 16px;
  color: #fafafa;
  list-style: none;
  padding: 0 30px;
  float: left;
  line-height: 70px;
}
#main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  text-align: center;
}
.mv-title {
  font-size: 64px;
  padding-top: 200px;
  color: #fafafa;
}
.mv-text {
  font-size: 20px;
  color: #fafafa;
  margin-top: 10px;
}

#portfolio {
  background-color: #eceff1;
}
.heading {
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-top: 90px;
}
.heading-text {
  padding-top: 30px;
  font-size: 16px;
  text-align: center;
  color: #000000;
}
.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}

.pf-img-boxes {
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}
.pf-img {
  width: 300px;
  height: 250px;
  float: left;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}
.pf-img:nth-child(-n+3) {
  margin-top: 0;
}
.pf-img:nth-child(3n) {
  margin-right: 0;
}

.box-1 {
  background-image: url(img/sketch.jpg);
}
.box-2 {
  background-image: url(img/websuku.png);
}
.box-3 {
  background-image: url(img/write.jpg);
}
.box-4 {
  background-image: url(img/webcamp.png);
}
.box-5 {
  background-image: url(img/talk.jpg);
}
.box-6 {
  background-image: url(img/webcamp-mother.png);
}

#feature {
  background-size: cover;
  background-position: center;
}
.st-group {
  width: 980px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}
.strength {
  font-size: 60px;
  width: 320px;
  margin-right: 10px;
  text-align: center;
  float: left;
}
.strength:last-child {
  margin-right: 0;
}
.st-title {
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
}
.st-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

#profile {
  background-color: #eceff1;
}
.my-icon {
  border-radius: 50%;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  background-image: url(img/my-icon.jpg);
}
.pf-text {
  font-size: 16px;
  text-align: left;
}
.pf-group {
  padding: 30px 0 90px 0;
}
.pf-left {
  width: 50%;
  float: left;
}
.pf-title {
  font-size: 20px;
  margin: 20px 0 5px 0;
}
.pf-title:first-child {
  margin-top: 0;
}
.pf-text {
  font-size: 16px;
  color: #000000;
}

.c-group {
  width: 800px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}
.c-left {
  width: 50%;
  float: left;
}
.c-left-content {
  width: 130px;
  margin: 0 auto;
}
.c-right {
  width: 50%;
  float: left;
}
.c-right-content {
  width: 190px;
  margin: 0 auto;
}
.c-title {
  font-size: 20px;
  margin: 20px 0 5px 0;
}
.sample-address {
  font-size: 16px;
}
.c-right-content .fab {
  font-size: 50px;
  margin-right: 20px;
}
.c-right-content .fab:last-child {
  margin-right: 0;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
  line-height: 60px;
}
.copyright {
  font-size: 16px;
  color: #fafafa;
  text-align: center;
}

@media screen and (max-width:767px) {
  header {
    height: 50px;
  }
  .logo {
    height: 50px;
    float: none;
  }
  .container {
    width: 100%;
  }
  .ham-box {
    float: right;
    width: 44px;
    height: 44px;
    margin: 3px 8px 3px 0;
    border: 1px solid #fafafa;
  }
  .list-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
  }
  .list-bar:first-child {
    margin-top: 11px;
  }
  .nav-list {
    float: none;
  }
  .nav-list-item {
    display: none;
    float: none;
  }
  #main-visual {
    background-image: url(img/code.png);
    padding: 0 5%;
  }
  .mv-title {
    font-size: 40px;
  }
  .mv-text {
    font-size: 18px;
  }
  #portfolio {
    padding: 0 5%;
  }
  .pf-img-boxes {
    width: 300px;
  }
  .pf-img {
    float: none;
  }
  #feature {
    padding: 0 5%;
  }
  .sp-none {
    display: none;
  }
  .st-group {
    width: 320px;
  }
  .strength {
    float: none;
    margin-bottom: 10px;
  }
  .strength:last-child {
    margin-bottom: 0;
  }
  .strength:nth-child(-n+2) {
    margin-right: 0;
  }
  #profile {
    padding: 0 5%;
  }
  .pf-left {
    float: none;
  }
  .pf-title:first-child {
    margin-top: 20px;
  }
  #contact {
    padding: 90px 5%;
  }
  .c-group {
    width: 100%;
    text-align: center;
  }
  .c-left {
    width: 100%;
    float: none;
  }
  .c-right {
    width: 100%;
    float: none;
  }
  .c-right-content .fab {
    margin-right: 8px;
  }
}